.nav {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; /* Change this to your desired background color */
  z-index: 1000; /* Ensure the navbar appears above other content */
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.toggle-btn {
  display: none;
}

.toggle-btn a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .nav ul {
    display: none;
  }
  .nav ul.active {
    display: block;
  }
  .nav ul li {
    display: block;
    margin: 10px 0;
  }
  .toggle-btn {
    display: block;
  }
}

@media only screen and (min-width: 601px) {
  .toggle-btn {
    display: none;
  }
  .nav ul {
    display: block;
  }
}
